@import "../../node_modules/normalize.css/normalize.css";

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    &:before, &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}
